<!DOCTYPE html>
<html>
<head>

	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

	<title>Flic Pi </title>
</head>
<body class="grey lighten-3">

	<nav>
		<div class="nav-wrapper teal lighten-1">
			<div style="padding-left: 2%; padding-right: 2%;">
				<a href="#" class="brand-logo">AgriDigital Flics</a>
				<div class="right">Socket Status: <span id="socket_status">Disconnected</span></div>
			</div>
		</div>
	</nav>


	<div class="container">

		<br><br>

		<div class="card">
			

			<div class="card-content">
				<div class="card-title">Flic Buttons</div>
				<table id="state_table">
					<thead>
						<tr>
							<th>bdAddr</th>
							<th>user</th>
							<th>Colour</th>
							<th>Status</th>
							<th>Disruption</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody id="state_tablebody">
		<!-- 				{% for device in devices %}
							<tr>
								<th>{{ device.bdAddr }}</th>
								<th>{{ device.user }}</th>
								<th>{{ device.colour }}</th>
								<th>{{ device.status }}</th>
								<th></th>
								<th></th>
							</tr>
						{% endfor %} -->
					</tbody>
				</table>
			</div>
		</div>

	</div>


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    var $socket_status = $('#socket_status')
    var $single_click = $('#single_click')

    socket.on('connect', function() {
    	$socket_status.html('Connected');
        socket.emit('page loaded');
    });

    socket.on('disconnect', function() {
    	$socket_status.html('Disconnected');
    });

    // socket.on('single click', function(data) {
    // 	console.log(data, 'Single click pressed');
    // 	$single_click.html('Single click pressed');

    // });

    var $state_tablebody = $('#state_tablebody');

    socket.on('update state table', function(data) {
    	console.log(data);
    	var str = ''
    	for (var i = 0; i < data.length; i++){
    		str += ('<tr bdAddr="' + data[i]['bdAddr'] + '">')
    		str += ('<td>' + String(data[i]['bdAddr']) + '</td><td>' + String(data[i]['user']) + '</td><td>' + String(data[i]['color']) + '</td><td>' + String(data[i]['state']) + '</td>')

    		if(String(data[i]['state']) == 'true'){
    			str += ('<td class="current_disruption active" disruption_start="' + String(data[i]['disruption_start']) + '"></td>');
    		}else{
    			str += ('<td class="current_disruption"></td>');
    		}
    		
    		str += ('<td></td></tr>');

    	};
    	console.log(str);
    	$state_tablebody.children().remove();
    	$state_tablebody.append(str);

    });

    var counter = setInterval(function() {
    	var $rows = $(state_tablebody).find('td.current_disruption')

    	$rows.each(function(index, value){
    		if($(this).hasClass('active')){
	    		var t = new Date($(this).attr('disruption_start'));
	    		var t_change = Math.floor((Date.now() - t) / 1000);
	    		$(this).text(t_change + 's');
	    	}else{
	    		$(this).text("");
	    	};
    	});
    }, 1000);


</script>


</body>
</html>