<!DOCTYPE html>
<html>
<head>

	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

	<title>Flic Pi </title>
</head>
<body class="grey lighten-3">

	<nav>
		<div class="nav-wrapper teal lighten-1">
			<div style="padding-left: 2%; padding-right: 2%;">
				<a href="#" class="brand-logo"><img src="../static/img/agridigital_large.svg" height="50" align="top" style="padding-top: 10px; padding-right: 10px;"><img src="../static/img/flic_large.png" height="50" align="top" style="padding-top: 10px; padding-right: 10px;"><img src="../static/img/Raspberry_Pi_Logo.svg" height="50" align="top" style="padding-top: 12px"></a></a>
				<div class="right">Socket Status: <span id="socket_status">Disconnected</span></div>
			</div>
		</div>
	</nav>

    <!-- FLOATING ACTION BUTTON -->

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">menu</i>
        </a>
        <ul>
            <li><a href="#modal_add_flic" class="btn-floating green modal-trigger"><i id="start_add_flic" class="material-icons">add</i></a></li>
            <li><a href="#modal_connected_devices" class="btn-floating blue modal-trigger"><i id="open_connected_devices" class="material-icons">mode_edit</i></a></li>
        </ul>
    </div>

    <!-- CONNECTED DEVICES MODAL -->

    <div id="modal_connected_devices" class="modal">
        <div class="modal-content">
            <div class="title">Connected Devices</div>
            <table id="connected_devices_table">
                <thead>
                    <tr>
                        <th>Flic</th>
                        <th>bdAddr</th>
                        <th class="">User</th>
                        <th>Slack Handle</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="connected_devices_tablebody">
                </tbody>
            </table>
        </div>

        <div class="modal-footer">
            <a href="" class="modal-action modal-close waves-effect waves-red btn-flat">Close</a>
        </div>
    </div>

    <!-- ADD BUTTON MODAL -->

    <div id="modal_add_flic" class="modal">
        <div class="modal-content">
            <!-- <div class="title">Connect to new button</div> -->
            <div id="modal_add_flic_content"></div>
        </div>
    </div>


    <!-- STATUS TABLE -->

	<div class="container">

		<br><br>

		<div class="card">
			

			<div class="card-content">
				<div class="card-title">Flic Buttons</div>
				<table id="state_table">
					<thead>
						<tr>
							<th>bdAddr</th>
							<th class="">User</th>
							<th>Colour</th>
							<th>Status</th>
							<th class="">Current Disruption</th>
							<th class="">Daily Total</th>
						</tr>
					</thead>
					<tbody id="state_tablebody">
					</tbody>
				</table>
			</div>
		</div>

	</div>


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script> -->

<script type="text/javascript" charset="utf-8">


    // ----- FAB -----
    var FAB = document.querySelector('.fixed-action-btn');
    var instance = M.FloatingActionButton.init(FAB, {});

    // ----- CONNECTED DEVICES MODAL -----

    var modal_connected_devices = document.getElementById('modal_connected_devices');
    var instance = M.Modal.init(modal_connected_devices, {});


    // ----- MODAL -----

    var modal_add_flic = document.getElementById('modal_add_flic');
    var instance = M.Modal.init(modal_add_flic, {});


    // ----- SCOKETS -----

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    var $socket_status = $('#socket_status')
    var $single_click = $('#single_click')

    socket.on('connect', function() {
    	$socket_status.html('Connected');
        socket.emit('page loaded');
    });

    socket.on('disconnect', function() {
    	$socket_status.html('Disconnected');
    });

    // socket.on('single click', function(data) {
    // 	console.log(data, 'Single click pressed');
    // 	$single_click.html('Single click pressed');

    // });

    var $state_tablebody = $('#state_tablebody');

    socket.on('update state table', function(data) {
    	// console.log(data);
    	var str = ''
    	for (var i = 0; i < data.length; i++){
    		str += ('<tr bdAddr="' + data[i]['bdAddr'] + '">')
    		str += ('<td>' + String(data[i]['bdAddr']) + '</td><td class="">' + String(data[i]['user']) + '</td><td>' + String(data[i]['color']) + '</td><td>' + String(data[i]['state']) + '</td>')

    		if(String(data[i]['state']) == 'true'){
    			str += ('<td class="current_disruption active" disruption_start="' + String(data[i]['disruption_start']) + '"></td>');
    		}else{
    			str += ('<td class="current_disruption"></td>');
    		}
    	
    		str += ('<td class="">' + secs_to_string(data[i]['daily_total']) + '</td>')
    		str += ('</tr>')

    	};
    	// console.log(str);
    	$state_tablebody.children().remove();
    	$state_tablebody.append(str);

    });

    var counter = setInterval(function() {
    	var $rows = $(state_tablebody).find('td.current_disruption')

    	$rows.each(function(index, value){
    		if($(this).hasClass('active')){
	    		var t = new Date($(this).attr('disruption_start'));
	    		var t_change = Math.floor((Date.now() - t) / 1000);
	    		
	    		if(t_change >= 60){
	    			$(this).text(Math.floor(t_change / 60)  + 'm');
	    		}else{
	    			$(this).text(t_change + 's');	
	    		};

	    	}else{
	    		$(this).text("");
	    	};
    	});
    }, 1000);


    function secs_to_string(secs) {

    	// console.log(millis);

    	secs = Math.floor(secs);

        if (secs < 60){
            return (String(secs) + "s")
        }

    	var days = Math.floor(secs / (60 * 60 * 8));
    	var hours = Math.floor(secs / (60 * 60)) % 8;
    	var minutes = Math.floor(secs / 60) % 60;

    	var units = ['d', 'h', 'm'];

    	var lst = [];
    	var values = [days, hours, minutes];

    	console.log(values);

    	for(var j = 0; j < values.length; j++){
    		if(values[j] > 0){
    			lst.push(String(values[j]) + units[j]);
    		};
    	};

    	console.log(lst);

    	var rendered_time = lst.join(" ");

    	return rendered_time;
    }


    // ----- NEW SCAN WIZARD -----

    $modal_add_flic_content = $('#modal_add_flic_content')
    start_add_flic = document.getElementById('start_add_flic')

    start_add_flic.onclick = function() {
        console.log("Starting scan wizard..");
        $modal_add_flic_content.text("Starting scan wizard..");
        socket.emit('start new scan wizard');
    };

    socket.on('scan wizard', function(data){
        console.log(data);
        $modal_add_flic_content.text(data);
    });

    socket.on('scan wizard succes', function(data){
        console.log("Scan wizard complete with:", data['bdAddr'], data['color']);

        var str_form = "";

        str_form += '<div class="row"><form class="col s12" id="newUserForm">';
        str_form += ('<div class="row"><div class="input-field col s12"><input disabled placeholder="' + String(data['color']) +  '" type="text" id="form_color"></div></div>');
        str_form += ('<div class="row"<div class="input-field col s12"><input disabled placeholder="' + String(data['bdAddr']) +  '" type="text" id="form_bdAddr"></div></div>');
        str_form += '<div class="row"><div class="input-field col s12"><label for="form_username">Username</label><input type="text" id="form_username"></div></div>';
        str_form += '<div class="row"><div class="input-field col s12"><label for="form_slackhandle">Slack Handle</label><input type="text" id="form_slackhandle"></div></div>';
        str_form += '<div class="row"><div class="input-field col s12"><input type="submit" value="Submit" class="modal-action modal-close right"></div></div>';
        str_form += '</form></div>';

        $modal_add_flic_content.html(str_form);

        $newUserForm = $('#newUserForm');
        $form_bdAddr = $('#form_bdAddr');
        $form_username = $('#form_username');
        $form_slackhandle = $('#form_slackhandle');

        $newUserForm.submit(function(e){
            e.preventDefault();
            var new_user = {
                'bdAddr': $form_bdAddr.val(),
                'username': $form_username.val(),
                'slackhandle': $form_slackhandle.val(),
            }
            console.log('Username submitted', new_user);
            socket.emit('scan wizard insert', new_user);
        });



    });




    // ----- CONNECTED DEVICES TABLE -----

    open_connected_devices = document.getElementById('open_connected_devices');
    
    open_connected_devices.onclick = function() {
        console.log('Getting connected devices..')
        socket.emit('get connected devices')
    }

    $connected_devices_tablebody = $('#connected_devices_tablebody');

    socket.on('got connected devices', function(data){

        var str = ''
        for (var i = 0; i < data.length; i++){
            str += ('<tr>')
            str += ('<td>' + String(data[i]['color']) + '</td>');
            str += ('<td>' + String(data[i]['bdAddr']) + '</td>');
            str += ('<td>' + String(data[i]['user']) + '</td>');
            str += ('<td>' + String(data[i]['slackhandle']) + '</td>');
            str += ('<td>' + String(data[i]['status']) + '</td>');
            str += ('</tr>')

        };
        // console.log(str);
        $connected_devices_tablebody.children().remove();
        $connected_devices_tablebody.append(str);

    });

</script>


</body>
</html>